body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color:  hsl(0, 0%, 99%);
    overflow-x: hidden;
}

.main-section{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: hsl(193, 100%, 96%);
    background-image: url('../images/bg-hero-desktop.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-wrapper{
    position: absolute;
    width: 1450px;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-content{
    width: 100%;
    flex-grow: 1;
    margin-right: 1rem;
}

.main-hero{
    width: 100%;
    height: 100%;
    flex-grow: 1;
    margin-left: 1rem;
    background-image: url("../images/illustration-mockups.svg") ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    font-size: 30px;
    font-weight: 700;
}

h2{
    font-size: 20px;
    font-weight: 400;
    margin: 2rem 0 3rem 0;
}

.get-started{
    background-color: hsl(322, 100%, 66%);
    padding: 1rem 4rem;
    border-radius: 50px;
    border: none;
    box-shadow: 1px 1px 10px #0000004b;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.nav-wrapper{
    width: 1450px;
    display: flex;
    flex-direction: row;
}

.try-it{
    background-color: #fff;
    padding: 0.8rem 4rem;
    border-radius: 50px;
    border: none;
    box-shadow: 1px 1px 10px #0000004b;
    color: #000000;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
}

.branding{
    background-image: url(../images/logo.svg);
    background-size: contain;
    height: 2.5rem;
    width: 17rem;
    background-repeat: no-repeat;
    flex: 1;
}

.nav{
    position: absolute;
    width: 100%;
    height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    z-index: 3;
}

.card-wrapper{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10rem 0;
}

.card-section{
    position: relative;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 1450px;
    height: 80%;
    top: 50%;
    background-color: #fff;
    box-shadow: 1px 1px 15px #0000004b;
    border-radius: 30px;
    padding: 2rem;
    display: flex;
    flex-direction: row;
}

.card .img{
    flex: 1;
    width: 50%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card .txt{
    flex: 1;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.txt p {
    width: 100%;
    margin: 0.5rem;
}

.txt p:first-child {
    font-weight: 700;
    font-size: 150%;
}

#grow-together{
    background-image: url(../images/illustration-grow-together.svg);
    margin-left: 4rem;
}

#flowing-conversations{
    background-image: url(../images/illustration-flowing-conversation.svg);
    margin-right: 4rem;
}

#your-users{
    background-image: url(../images/illustration-your-users.svg);
    margin-left: 4rem;
}

.footer-disclaimer{
    position: absolute;
    top: -30%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 1px 1px 15px #0000004b;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
}

.footer-disclaimer .get-started{
    margin-top: 1rem;
}

.footer-disclaimer span{
    font-weight: 700;
}

footer{
    height: 22rem;
    width: 100%;
    background-color: hsl(192, 100%, 9%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer-wrapper{
    width: 1450px;
    margin-top: 2rem;
    color: #fff;
    flex-direction: row;
    display: flex;
}

.footer-col{
    width: 100%;
    margin-top: 3rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    position: relative;
    margin: 0 1rem;
}

.item{
    text-decoration: none;
    color: #fff;
    margin: 0.5rem 0rem;
    display: flex;
    flex-direction: row;
}

.footer-col a{
    text-decoration: none;
    color: #fff;
    margin: 0.25rem 0rem;
}

.footer-branding{
    background-image: url(../images/logo-off.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 3rem;
    width: 10rem;
    position: absolute;
    top: -35%;
}

.icon{
    width: 20px !important;
    height: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    content: '';
}

.fas{
    font-size: 18px;
    width: 2rem;
}

.item-text{
    width: 500px;
}

.icons{
    flex-direction: row;
}

.icons .fab{
    margin: 0rem 1rem;
    font-size: 20px;
}

@media only screen and (max-width: 1550px) {   
    .main-wrapper{
        width: 1200px;
    }
    
    .nav-wrapper{
        width: 1200px;
    }
    
    .branding{
        height: 2.5rem;
        width: 12rem;
    }
    
    .card-wrapper{
        margin: 8rem 0;
    }
    
    .card-section{
        height: 40rem;
    }
    
    .card{
        width: 1200px;
        padding: 1.5rem;
    }
        
    .txt p {
        margin: 0.5rem;
        font-size: 95%;
    }
    
    .txt p:first-child {
        font-weight: 700;
        font-size: 140%;
    }
    
    #grow-together{
        margin-left: 3rem;
    }
    
    #flowing-conversations{
        margin-right: 3rem;
    }
    
    #your-users{
        margin-left: 3rem;
    }
    
    .footer-disclaimer{
        top: -30%;
    }
            
    footer{
        height: 22rem;
    }

    .footer-wrapper{
        width: 1270px;
    }
    
    .footer-col{
        font-size: 15px;
    }
    
    .footer-branding{
        height: 3rem;
        width: 8rem;
    }
    
    .fas{
        font-size: 16px;
    }

    .item-text{
        width: 450px;
    }
}

@media only screen and (max-width: 1300px) {   
    .main-wrapper{
        width: 900px;
    }
    
    h1{
        font-size: 25px;
    }
    
    h2{
        font-size: 18px;
        margin: 2rem 0 4rem 0;
    }
    
    .get-started{
        padding: 0.8rem 3rem;
        font-size: 16px;
    }
    
    .nav-wrapper{
        width: 900px;
    }
    
    .try-it{
        padding: 0.8rem 3rem;
        font-size: 16px;
    }
    
    .branding{
        height: 2rem;
    }
    
    .card-wrapper{
        margin: 6rem 0;
    }
    
    .card-section{
        height: 30rem;
    }
    
    .card{
        width: 900px;
    }
        
    .txt p {
        font-size: 16px;
    }
    
    .txt p:first-child {
        font-size: 22px;
    }
    
    .footer-disclaimer{
        top: -20%;
    }
        
    .footer-wrapper{
        width: 980px;
    }
    
    .footer-branding{
        top: -40%;
    }

    .icons{
        flex-direction: column;
    }
    
    .icons .fab{
        margin: 0.5rem 0rem;
        font-size: 20px;
    }
}

@media only screen and (max-width: 980px) {
    body{
        font-size: 16px;
    }
    
    .main-wrapper{
        width: 590px;
    }
    
    h1{
        font-size: 22px;
    }
    
    h2{
        font-size: 16px;
        margin: 2rem 0 4rem 0;
    }
    
    .get-started{
        padding: 0.6rem 2.5rem;
        font-size: 16px;
    }
    
    .nav-wrapper{
        width: 590px;
    }
    
    .try-it{
        padding: 0.6rem 2.5rem;
        font-size: 15px;
    }
    
    .branding{
        height: 1.6rem;
    }

    .card-wrapper{
        margin: 5rem 0 8rem 0;
    }
    
    .card-section{
        height: 25rem;
    }
    
    .card{
        width: 590px;
    }
        
    .txt p {
        font-size: 15px;
    }
    
    .txt p:first-child {
        font-size: 16px;
    }
    
    .footer-disclaimer{
        top: -8%;
    }
            
    footer{
        height: 50rem;
        flex-direction: column;
    }
    
    .footer-wrapper{
        width: 600px;
        flex-direction: column;
    }
    
    .footer-col{
        margin-top: 3rem;
        margin: 1.5rem 0;
    }
    
    .footer-branding{
        top: -40%;
    }

    .icons{
        flex-direction: row;
    }
    
    .icons .fab{
        margin: 0 0.5rem;
        font-size: 20px;
    }
}

@media only screen and (max-width: 630px) {
    body{
        font-size: 15px;
    }
    
    .main-wrapper{
        width: 380px;
        height: 70vh;
        display: flex;
        flex-direction: column;
    }
    
    .main-content{
        margin-right: 0rem;
        text-align: center;
        height: 0;
    }
    
    .main-hero{
        margin-left: 0rem;
        height: 0;
    }
    
    h1{
        font-size: 21px;
    }
    
    h2{
        font-size: 16px;
        margin: 1rem 0 2rem 0;
    }
    
    .get-started{
        padding: 0.5rem 2.2rem;
        font-size: 16px;
    }
    
    .nav-wrapper{
        width: 380px;
    }
    
    .try-it{
        padding: 0.5rem 2.2rem;
        font-size: 14px;
    }
    
    .branding{
        height: 1.6rem;
    }
    
    .nav{
        height: 5rem;
    }
    
    .card-wrapper{
        margin: 4rem 0 8rem 0;
    }
    
    .card-section{
        height: 25rem;
    }
    
    .card{
        width: 380px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }
        
    .txt p {
        font-size: 15px;
        width: 100%;
        display: block;
    }
    
    .txt p:first-child {
        margin: 0 0 1rem 0;
        font-size: 16px;
        width: 100%;
        display: block;
    }

    .card .img{
        width: 100%;
        height: 100%;
    }
    
    .card .txt{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    
    #grow-together{
        margin-left: 0;
    }
    
    #flowing-conversations{
        margin-right: 0;
    }
    
    #your-users{
        margin-left: 0;
    }
    
    .footer-disclaimer{
        top: -8%;
    }
            
    footer{
        flex-direction: column-reverse;
    }
    
    .footer-wrapper{
        width: 380px;
        flex-direction: column;
        margin-top: 7rem;
    }
}


@media only screen and (max-width: 400px) {
    .main-wrapper{
        width: 270px;
        height: 80vh;
        display: flex;
        flex-direction: column;
    }
        
    .main-content{
        height: 100%;
    }

    .main-hero{
        margin-left: 0rem;
        height: 15rem;
        width: 15rem;
    }
    
    h1{
        font-size: 20px;
    }
    
    h2{
        font-size: 15px;
        margin: 0.8rem 0 1.5rem 0;
    }
    
    .get-started{
        padding: 0.5rem 1.0rem;
        font-size: 14px;
    }
    
    .nav-wrapper{
        width: 280px;
    }
    
    .try-it{
        padding: 0.3rem 1.8rem;
        font-size: 14px;
    }
    
    .branding{
        height: 1rem;
    }
    
    .nav{
        height: 3.5rem;
    }
    
    .card-wrapper{
        margin: 2rem 0 8rem 0;
    }
    
    .card-section{
        height: 25rem;
    }
    
    .card{
        width: 280px;
        padding: 0.8rem;
    }
        
    .txt p {
        font-size: 15px;
        width: 95%;
    }
    
    .txt p:first-child {
        margin: 0 0 0.6rem 0;
        font-size: 16px;
        width: 100%;
        display: block;
    }
    
    #flowing-conversations{
        margin-bottom: 1rem;
    }
    
    .footer-disclaimer{
        top: -8%;
        padding: 0;
        height: 7rem;
        width: 280px;
    }
         
    .footer-disclaimer span{
        font-size: 15px;
    }   
    
    .footer-wrapper{
        width: 280px;
        margin-top: 8rem;
    }
    
    footer{
        height: 43rem;
        width: 100%;
        background-color: hsl(192, 100%, 9%);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
    }
}