@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

@mixin flex-center($flex-dir) {
    display: flex;
    flex-direction: $flex-dir;
    justify-content: center;
    align-items: center;
}

@mixin back-img ($url) {
    background-image: url($url);
    background-repeat: no-repeat;
}

@mixin get-started{
    height: 3rem;
    width: 20rem;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 50px;
    border-style: none;
    background-color: $color-pink;
    color: $color-white;
}

$color-cyan: hsl(193, 100%, 96%);
$color-dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);
$color-white: #fff;
$color-pink: hsl(322, 100%, 66%);

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-wrapper{
    width: 1400px;
}

section{
    height: 100vh;    
}

.main-back{
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;

    background-size: cover;
    background-color: $color-cyan;
    @include back-img ("../images/bg-hero-desktop.svg");
}

.main{

    @include flex-center(column);
    
    .main-nav{
        height: 3rem;
        width: 100%;
        z-index: 2;
        @include clearfix;
        
        .main-nav-branding{
            float: left;
            height: 5rem;
            width: 12rem;
            
            background-size: contain;
            @include back-img ("../images/logo.svg");
        }

        button{
            float: right;
            border-radius: 30px;
            padding: 0.5rem 5rem;
            border-style: solid;
            background-color: $color-white;
            box-shadow: 3px 3px 10px #0000004d;;   
            font-size: 1.1rem;
            text-decoration: none;
            font-weight: 600;         
        }    
    }

    .main-grid{
        height: 60vh;
        width: 100%;
        display: flex;

        .main-grid-text{
            flex: 1;
            height: 60vh;
            padding: 50px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;s

            h1{
                width: 100%;
                font-size: 2rem;
                text-align: left;
                margin-bottom: 2rem;
            }

            h2{
                font-size: 1.3rem;
                margin-bottom: 2rem;
            }

            button{
                @include get-started;
            }
        }

        .main-grid-img{
            flex: 1;
            height: 60vh;
            background-size: contain;
            background-position: center;

            @include flex-center(column);
            @include back-img ("../images/illustration-mockups.svg");
        }
    }
}



  

//   $color-text-light: #eee;
//   $width-button: 150px;
  
//   @mixin clearfix {
//     &::after {
//       content: "";
//       clear: both;
//       display: table;
//     }
//   }
  
//   @mixin style-link-text($color){
//     text-decoration: none;
//     text-transform: uppercase;
//     color: $color;
//   }
  
//   nav {
//     margin: 30px;
//     background-color: $color-primary;
//     @include clearfix;
//   }
  
//   .navigation {
//     list-style: none;
//     float: left;
    
//     li {
//       display: inline-block;
//       margin-left: 30px;
    
//       &:first-child{
//         margin: 0;
//       }
      
//       a:link{
//         @include style-link-text($color-text-dark);
//       }
//     }
//   }
  
//   .button {
//      float: right  
//   }
  
//   %btn-placeholder{
//     padding: 10px;
//     display: inline-block;
//     text-align: center;
//     border-radius: 50px;
//     width: $width-button;
//     @include style-link-text($color-text-light);
//   }
  
//   .btn-main{
//     &:link{
//       background-color: $color-secundary;
//       @extend %btn-placeholder;
//     }
    
//     &:hover{
//       background-color: darken($color-secundary , 15%);
//     }
//   }
  
//   .btn-hot{
//     &:link{
//       background-color: $color-tertiary;
//       @extend %btn-placeholder;
//     }
    
//     &:hover{
//       background-color: lighten($color-tertiary , 15%);
//     }
//   }

// ### Body, Call-to-actions
// - Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
// - Weights: 400, 700